/* General settings */
[type="checkbox"],
[type="color"],
[type="date"],
[type="email"],
[type="file"],
[type="number"],
[type="password"],
[type="radio"],
[type="range"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"] {
	--input-font-size: var(--font-size-default);
	--input-font-units: 16;
	--input-font-color: var(--color-brown-600);
	--input-font-color-active: var(--color-black-950);
	--input-font-color-placeholder: var(--color-black-200);
	--input-padding-block: calc(var(--input-font-size) - (var(--input-font-size) / var(--input-font-units)));
	--input-padding-inline: calc(var(--input-font-size) - (var(--input-font-size) / var(--input-font-units)));
	--input-border-radius: 0.5em;
	--input-border-color: var(--color-border-default);
	--input-background-color: var(--color-white);
	--input-size-min-block: calc(var(--font-size-default) * 1.25);
	--input-size-min-inline: calc(var(--font-size-default) * 1.25);
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	font-family: inherit;
	accent-color: var(--input-font-color);
}

/* Text input */
[type="color"],
[type="date"],
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"] {
	appearance: none;
	min-block-size: var(--input-size-min-block);
	min-inline-size: var(--input-size-min-inline);
	padding-block: var(--input-padding-block);
	padding-inline: var(--input-padding-inline);
	border-width: 1px;
	border-color: var(--input-border-color);
	border-style: solid;
	font-size: var(--input-font-size);
	line-height: 1.25;
	background-color: var(--input-background-color);
	color: var(--input-font-color);
	border-radius: var(--input-border-radius);
}

::placeholder {
	color: var(--input-font-color-placeholder);
}

/* Range, or slider */
[type="range"] {
	padding-block: 1rem;
	margin: 0;
}

/* File inputs */
[type="file"] {
	font-size: 1rem;
}

/* Colour inputs */
[type="color"] {
	--input-size-min-inline: 6rem;
	--input-size-min-block: 3.25rem;
	padding-block: calc(var(--input-padding-block) - 0.125em);
	padding-inline: calc(var(--input-padding-inline) - 0.125em);
}
::-webkit-color-swatch-wrapper {
	padding: 0;
}
::-webkit-color-swatch {
	border: none;
	border-radius: calc(var(--input-border-radius) * 0.5);
}

/* Date inputs */
::-webkit-datetime-edit {
	line-height: 1;
}

/* Checkboxes and Radios */
[type="checkbox"],
[type="radio"] {
	border-width: 1px;
	border-color: var(--input-border-color);
	border-style: solid;
	margin: 0;
	block-size: calc(var(--input-font-size) * 1.5);
	inline-size: calc(var(--input-font-size) * 1.5);
}

/* Checkboxes */
[type="checkbox"] {
	border-radius: calc(var(--input-font-size) * 0.25);
}

/* Radio buttons */
[type="radio"] {
	border-radius: 100%;
}

input:focus {
	outline-offset: 0.25rem;
	color: var(--input-font-color-active);
}