html {
	overflow-x: hidden;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.25em;
}

sup > a {
	display: inline;
	padding: 0.5rem;
	margin-inline: -0.5rem;
}

a:hover {
	text-decoration: none;
}