/* System or framework-level icons */
button[data-icon="arrow-right"],
[data-scheme="primary"][data-icon="arrow-right"] {
	--icon-image-url: url('../../img/icon_arrow_right_white.svg');
}

[data-icon="arrow-right"],
[data-scheme="secondary"][data-icon="arrow-right"],
[data-theme="dark"] [data-scheme="primary"][data-icon="arrow-right"] {
	--icon-image-url: url('../../img/icon_arrow_right_black.svg');
}

[data-theme="dark"] [data-scheme="secondary"][data-icon="arrow-right"] {
	--icon-image-url: url('../../img/icon_arrow_right_brown_100.svg');
}

/* 
	`icon_tick_brown_600.svg` used for checkboxes in `patterns/form_field.css`
*/

/* Generic icons */
[data-icon="badge-star"] {
	--icon-image-url: url('../../img/icon_sprite.svg#badge-star-brown-600');
}

[data-icon="badge-tick"] {
	--icon-image-url: url('../../img/icon_sprite.svg#badge-tick-brown-600');
}

[data-icon="bandwidth"] {
	--icon-image-url: url('../../img/icon_sprite.svg#bandwidth-brown-600');
}

[data-icon="building"] {
	--icon-image-url: url('../../img/icon_sprite.svg#building-brown-600');
}

[data-icon="checklist"] {
	--icon-image-url: url('../../img/icon_sprite.svg#checklist-brown-600');
}

[data-icon="clock"] {
	--icon-image-url: url('../../img/icon_sprite.svg#clock-brown-600');
}

[data-icon="email"] {
	--icon-image-url: url('../../img/icon_sprite.svg#email-brown-600');
}

[data-icon="fire"] {
	--icon-image-url: url('../../img/icon_sprite.svg#fire-brown-600');
}

[data-icon="flag"] {
	--icon-image-url: url('../../img/icon_sprite.svg#flag-brown-600');
}

[data-icon="gauge"] {
	--icon-image-url: url('../../img/icon_sprite.svg#gauge-brown-600');
}

[data-icon="handshake"] {
	--icon-image-url: url('../../img/icon_sprite.svg#handshake-brown-600');
}

[data-icon="happy"] {
	--icon-image-url: url('../../img/icon_sprite.svg#happy-brown-600');
}

[data-icon="heart"] {
	--icon-image-url: url('../../img/icon_sprite.svg#heart-brown-600');
}

[data-icon="icecream"] {
	--icon-image-url: url('../../img/icon_sprite.svg#icecream-brown-600');
}

[data-icon="lightbulb"] {
	--icon-image-url: url('../../img/icon_sprite.svg#lightbulb-brown-600');
}

[data-icon="location"] {
	--icon-image-url: url('../../img/icon_sprite.svg#location-brown-600');
}

[data-icon="mail"] {
	--icon-image-url: url('../../img/icon_sprite.svg#mail-brown-600');
}

[data-icon="nodes"] {
	--icon-image-url: url('../../img/icon_sprite.svg#nodes-brown-600');
}

[data-icon="phone"] {
	--icon-image-url: url('../../img/icon_sprite.svg#phone-brown-600');
}

[data-icon="phone-ringing"] {
	--icon-image-url: url('../../img/icon_sprite.svg#phone-ringing-brown-600');
}

[data-icon="phone-voip"] {
	--icon-image-url: url('../../img/icon_sprite.svg#phone-voip-brown-600');
}

[data-icon="piggybank"] {
	--icon-image-url: url('../../img/icon_sprite.svg#piggybank-brown-600');
}

[data-icon="rewind"] {
	--icon-image-url: url('../../img/icon_sprite.svg#rewind-brown-600');
}

[data-icon="spark"] {
	--icon-image-url: url('../../img/icon_sprite.svg#spark-brown-600');
}

[data-icon="star"] {
	--icon-image-url: url('../../img/icon_sprite.svg#star-brown-600');
}

[data-icon="stars"] {
	--icon-image-url: url('../../img/icon_sprite.svg#stars-brown-600');
}

[data-icon="trolley"] {
	--icon-image-url: url('../../img/icon_sprite.svg#trolley-brown-600');
}

[data-icon="watch"] {
	--icon-image-url: url('../../img/icon_sprite.svg#watch-brown-600');
}

[data-icon="wifi"] {
	--icon-image-url: url('../../img/icon_sprite.svg#wifi-brown-600');
}

[data-icon="wifi-full"] {
	--icon-image-url: url('../../img/icon_sprite.svg#wifi-full-brown-600');
}